<?xml version="1.0" encoding="utf-8"?>

<?if $(sys.BUILDARCH)=x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="AD35BCFF-05F9-4467-B922-B9F76EAB2B1F" Name="Categorical Programming Language" Language="1033" Version="0.0.8.0" Manufacturer="Masahiro Sakai" UpgradeCode="8DBD2D7D-6114-4C47-A307-DD99483568C5">
        <Package Description="This package is an implementation of &quot;A Categorical Programing Language&quot; (CPL for short) written in Haskell" Comments="Categorical Programming Language" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="CPL">
                    <Directory Id="BINDIR" Name="bin">
                        <Component Id="MainExecutable" Guid="6E979ACB-D17F-4C9D-8BA0-041FD0D5E987">
                            <File Id="cplEXE" Name="cpl.exe" Source="..\cpl.exe" />
                        </Component>
                    </Directory>
                    <Directory Id="SAMPLES" Name="samples">
                        <Component Id="ACK.CPL" DiskId="1" Guid="28C7FD0E-9061-4392-9523-CBF65012F4CD">
                            <File Id="ACK.CPL" Name="ack.cpl" Source="..\samples\ack.cpl" />
                        </Component>
                        <Component Id="ACK_3_4.CPL" DiskId="1" Guid="DC20AC75-DA73-49EA-8960-48B25DA166DB">
                            <File Id="ACK_3_4.CPL" Name="ack_3_4.cpl" Source="..\samples\ack_3_4.cpl" />
                        </Component>
                        <Component Id="AUTOMATA.CDT" DiskId="1" Guid="FFD53683-7D82-4396-8649-0458BA2D695E">
                            <File Id="AUTOMATA.CDT" Name="automata.cdt" Source="..\samples\automata.cdt" />
                        </Component>
                        <Component Id="BENCHMARK.CPL" DiskId="1" Guid="CE930ED5-1D88-4DA9-9BCD-D58C78A9E727">
                            <File Id="BENCHMARK.CPL" Name="benchmark.cpl" Source="..\samples\benchmark.cpl" />
                        </Component>
                        <Component Id="CCC.CDT" DiskId="1" Guid="20974E7A-8454-406F-83B9-83ED7E582B8B">
                            <File Id="CCC.CDT" Name="ccc.cdt" Source="..\samples\ccc.cdt" />
                        </Component>
                        <Component Id="EXAMPLES.CPL" DiskId="1" Guid="A4AF9E9F-E4E5-41A2-8BD4-2A6D271E7334">
                            <File Id="EXAMPLES.CPL" Name="examples.cpl" Source="..\samples\examples.cpl" />
                        </Component>
                        <Component Id="EXAMPLES.TXT" DiskId="1" Guid="7D36629F-D94D-4080-BFC3-1EA5FBD05B33">
                            <File Id="EXAMPLES.TXT" Name="examples.txt" Source="..\samples\examples.txt" />
                        </Component>
                        <Component Id="FUNCTION.CPL" DiskId="1" Guid="2C24BD6E-F9AB-4523-B778-07258DDA11F5">
                            <File Id="FUNCTION.CPL" Name="function.cpl" Source="..\samples\function.cpl" />
                        </Component>
                        <Component Id="MISC.CDT" DiskId="1" Guid="C48F939A-D014-43EF-8631-0C8541A8A7FF">
                            <File Id="MISC.CDT" Name="misc.cdt" Source="..\samples\misc.cdt" />
                        </Component>
                        <Component Id="OBSCURE.CDT" DiskId="1" Guid="FCE812CA-5688-4ABA-BB34-93895E098424">
                            <File Id="OBSCURE.CDT" Name="obscure.cdt" Source="..\samples\obscure.cdt" />
                        </Component>
                        <Component Id="REC.CDT" DiskId="1" Guid="0C90FF11-FA31-44D4-8DD5-7D2B96D10B47">
                            <File Id="REC.CDT" Name="rec.cdt" Source="..\samples\rec.cdt" />
                        </Component>
                    </Directory>
                    <Component Id="ReadmeFile" Guid="EF38BFDC-5DF3-4F57-8307-75F91183FECF">
                        <File Id="READMEMD" Name="README.markdown" Source="..\README.markdown" />
                    </Component>
                    <Component Id="LicenseFile" Guid="0019EBA5-97D6-44F3-A451-84D8D9D4F89E">
                        <File Id="COPYING" Name="COPYING" Source="..\COPYING" />
                    </Component>
                    <Component Id="ChangeLogFile" Guid="778D69A3-F428-44DD-B9CD-55F976D98F33">
                        <File Id="CHANGELOGMD" Name="CHANGELOG.markdown" Source="..\CHANGELOG.markdown" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="ACK.CPL" />
            <ComponentRef Id="ACK_3_4.CPL" />
            <ComponentRef Id="AUTOMATA.CDT" />
            <ComponentRef Id="BENCHMARK.CPL" />
            <ComponentRef Id="CCC.CDT" />
            <ComponentRef Id="EXAMPLES.CPL" />
            <ComponentRef Id="EXAMPLES.TXT" />
            <ComponentRef Id="FUNCTION.CPL" />
            <ComponentRef Id="MISC.CDT" />
            <ComponentRef Id="OBSCURE.CDT" />
            <ComponentRef Id="REC.CDT" />
            <ComponentRef Id="ReadmeFile" />
            <ComponentRef Id="LicenseFile" />
            <ComponentRef Id="ChangeLogFile" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf" />
    </Product>
</Wix>
