cabal.project.local
dist-newstyle/
.stack-work/
stack.yaml.lock

# Build output directory (WebAssembly + tutorial pages)
_site/

doc-images/*.aux
doc-images/*.fdb_latexmk
doc-images/*.fls
doc-images/*.log
doc-images/*.pdf
