cabal.project.local
dist-newstyle/
.stack-work/
stack.yaml.lock

# WebAssembly build artifacts
wasm/cpl.wasm
wasm/cpl.js
wasm/samples.js
_site/

doc-images/*.aux
doc-images/*.fdb_latexmk
doc-images/*.fls
doc-images/*.log
doc-images/*.pdf
